@mixin extendClick() {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: -10px;
    bottom: -10px;
    left: -10px;
    right: -10px;
  }

}

@mixin noWrap() {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}


$themeColor: #d44439;
$colorShadow: rgba(212, 68, 57, .5);
$fontColorLight: #f1f1f1;
$fontColorDesc:#2E3030;
$fontColorDescV2:#bba8a8;
$fontSizeSs:10px;
$fontSizeS:12px;
$fontSizeM:14px;
$fontSizeL:16px;
$fontSizeLL:18px;
$borderColor:#e4e4e4;
$backgroundColor:#f2f3f4;
$backgroundColorShadow:rgba(0, 0, 0, 0.3);
$highlightBackgroundColor:#FFF;



